/* 
    component button primary icon text
 */

 .btn-primary-icon-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 16px 6px 16px;
    background-color: #2E3192;
 }

 .btn-primary-icon-text:hover {
    background-color: #3334CC;
 }

 .btn-primary-icon-text:focus {
    background-color: #3334CC;
    outline: #4C4DDC33;
    opacity: 0.2;
 }

 /* 
    component button primary only text
*/

.btn-primary-text {
    background-color: #2E3192;
    border-radius: 6px;
    border: none;
    color: #ffff;
    padding: 6px 16px;
    gap: 4px;
    
}

.btn-primary-text:hover {
    background-color: #3334CC;
    color: white;
}

.btn-primary-text:focus {
    box-shadow: 0 0 0 3px rgba(76, 77, 220, 0.2);
}

.btn-primary-text-pressed {
    background-color: rgba(33, 33, 122, 1);
}
