.primary-blue-pigment-main {
    color: #2E3192
}

.primary-blue-pigment-90 {
    color: #0F1031
}

/* background color */
.bg-primary-blue-pigment-main {
    background-color: #2E3192;
}

.bg-primary-blue-pigment-30 {
    background-color: #999BD2;
}

.bg-primary-blue-pigment-10 {
    background-color: #D6D7ED;
}

.bg-secondary-medium-red-violet-op-20 {
    background-color: rgba(239, 215, 228, 0.2);
}

.bg-secondary-old-gold-op-20 {
    background-color: rgba(245, 244, 217, 0.2);
}

.bg-secondary-medium-sea-green-op-20 {
    background-color: rgba(215, 240, 227, 0.2);
}




/* secondary color */
.secondary-medium-red-violet-main {
    color: #AD3776;
}

.secondary-old-gold-main {
    color: #CCC840;
}

.secondary-medium-sea-grean {
    color: #38B272;
}

/* background cta */
.background-cta {
    background-color: rgba(214, 215, 237, 0.25);
}




/* font color */
.color-neutral-100 {
    color: #0A0A0A;
}
.color-neutral-90 {
    color: #404040;
}
.color-neutral-80 {
    color: #616161;
}

.color-cta {
    background-color: #D6D7ED40;
}




